@charset "UTF-8";

$mainColor:#F8B500;
$redColor:#E64340;
$greenColor:#18a689;
$orangeColor:#f7a54a;
body,html{
  width: 100%;
  height: 100%;
}
main{
  //position: relative;
  height: 100%;
  width: 100%;
  background: #F8F8F8;
  //overflow: hidden;
  >div{
    /*overflow-y: auto;
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom:0;*/
    background:#f8f8f8;
    overflow-x: hidden;
    $time:.6s;
    &#project-cutscenes{
      //过场部分样式
      display: none;
      z-index: 3;
      color: #ffffff;
      text-align: center;
      transform:translate3d(100%,0,0);
      background:url(../img/logoloading.gif) center no-repeat #f8f8f8;
      background-size: 30% auto;
      opacity: 1;
      @at-root body.loading &{
        transition:transform $time;
        transform:translate3d(0,0,0);
      }
      @at-root body.loaded &{
        opacity: 0;
        transition:all $time;
        transform:translate3d(0,0,0);
      }
      @at-root body.load-complete &{
        display: none;
      }
    }
    >div{
      /*position: absolute;
      top:0;
      left: 0;
      right:0;
      bottom:0;*/
      background: #f8f8f8;
      &#project-out-view{
        display: none;
        z-index:2;
        transition:transform $time;
        transform:translate3d(0,0,0);
        @at-root body.loading &{
          transform:translate3d(-50%,0,0);
        }
      }
      &#project-main{
        //overflow-y: auto;
        >#project-body{
          position: relative;
          height: 100%;
        }
        z-index:3;
        @at-root body.loading & {
          z-index: 1;
        }
      }
    }
  }
}


@mixin clear{
  &:after{
    clear: both;
    content: '';
    display: block;
  }
}

@import "pure.d";
@import "common.d";
@import "icon.d";
@import "form.d";
@import "auth.d";
@import "article.d";
@import "order.d";
@import "index.d";
@import "house.d";
@import "repair-feedback.d";
@import "tmp.d";
@import "member.d";
@import "life-service.d";
@import "order-receipt.d";
@import "new-repair-feedback.d";
@import "activity.d";
@import "coupon.d";
@import "choose-bill.d";
@import "parking.d";
@import "satisfaction.d";