#repair-form, #feedback-form {
  padding-bottom: 49px;
  .identity-choice {
    > div {
      > div {
        font-size: 18px;
        padding-top: 24px;
        padding-bottom: 24px;
        padding-left: 49+20px;
        height: 96px;
        line-height: 49px;
        background-image: url(../img/repair.png);
        background-size: 44px 49px;
        background-position: 20px 24px;
      }
      &.hover {
        > div {
          background-image: url(../img/repair_hover.png);
        }
        &:nth-child(1) {
          > div {
            background-image: url(../img/feedback_hover.png);
          }
        }
      }
      &:nth-child(1) {
        > div {
          background-image: url(../img/feedback.png);
        }
      }
    }
  }
}

.upload-pics {
  li {
    span {
      display: block;
      padding-top: 158%;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
}

#repair-list, #feedback-list, #repair-view, #feedback-view {
  .list-cell {
    background-color: #fff;
    display: block;
    padding: 15px;
    color: #000;
    max-width: 100%;
    margin-bottom: 5px;
    @include clear();
    h4 {
      font-size: 17px;
      margin-bottom: 5px;
    }
    img {
      max-width: 100%;
      display: inline-block;
    }
    .info {
      p {
        font-size: 13px;
        color: #999999;
      }
    }
    .pic {
      margin: 10px 0;
    }
    .more {
      clear: both;
      font-size: 14px;
      margin-top: 15px;
      border-top: 1px solid #E5E5E5;
      padding-top: 15px;
      line-height: 1;
      span {
        &:nth-child(1) {
          color: #888888;
          background-color: #F5F5F5;
          border-radius: 6px;
          padding: 0 1em;
          font-size: 11px;
        }
        &:nth-child(2) {
          float: right;
          line-height: 1;
          padding-right: 1em;
          background: url(../img/icon/arrow-right.png) right center no-repeat;
          background-size: auto 100%;
        }
      }
    }
  }
}

#repair-view, #feedback-view {
  &.panel {
    margin: 0;
    .status {
      padding: 10px 15px;
      color: #fff;
      background-color: #F8B708;
      font-size: 14px;
      &.complete {
        background-color: #82D524;
      }
    }
    .pic {
      li + li {
        margin-top: 10px;
      }
    }
  }

  .message-list {
    background-color: #fff;
    font-size: 14px;
    p.empty {
      padding: 20px;
      text-align: center;
    }
  }
}

.bottom-message-form {
  .form-group {
    display: flex;
    padding: 10px;
    > div {
      flex: auto;
      &:nth-child(2) {
        padding-left: 15px;
        text-align: center;
        .btn {
          font-size: 14px;
          width: 90px;
          border-radius: 1.13em;
        }
      }
      textarea {
        height: 2.26em;
        width: 100%;
      }
    }
  }
}

#repair-list {
  .tab-list {
    text-align: center;
    padding: .5em 0;
    background-color: #EFEFEF;
    margin: 0 -10px;
    a {
      color: #888888;
      &.hover {
        border-bottom: 1px solid $mainColor;
        color: $mainColor;
      }
    }
  }
  .topPath {
    display: block;
    @include clear();
    padding: 5px 0;
    .addNew {
      font-size: 13px;
      color: #fff;
      padding: 6px 16px 6px 45px;
      background: url(../img/icon/plus.png) 20px center no-repeat $mainColor;
      background-size: 13px;
      border-radius: 18px;
      float: right;
    }
  }
  #typeSelect {
    display: none;
    .mask {
      background-color: rgba(#000, .8);
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    .c-panel {
      position: fixed;
      left: 8%;
      right: 8%;
      top: 8%;
      .t {
        background-color: #fff;
        @include clear();
        border-radius: 12px;
        a {
          text-align: center;
          color: #454545;
          display: block;
          width: 30%;
          margin: 10% 10%;
          float: left;
          i {
            border: 1px solid #F3F3F3;
            padding-top: 100%;
            border-radius: 8px;
            width: 100%;
            display: block;
            margin-bottom: .5em;
            &.icon1 {
              background: url(../img/icon/repair-type1.png) no-repeat center;
              background-size: 60%;
            }
            &.icon2 {
              background: url(../img/icon/repair-type2.png) no-repeat center;
              background-size: 60%;
            }
            &.icon3 {
              background: url(../img/icon/repair-type3.png) no-repeat center;
              background-size: 60%;
            }
            &.icon4 {
              background: url(../img/icon/repair-type4.png) no-repeat center;
              background-size: 60%;
            }
          }
        }
      }
    }
    .btn-empty {
      background-color: #FFF;
      width: 100%;
      margin-top: 1em;
    }
  }
  .list-cell {
    display: flex;
    .info {
      flex: 1;
      ul {
        font-size: 12px;
        li {
          span {
            color: #CCCCCC;
          }
        }
      }
    }
    .status {
      flex: none;
      width: 30%;
      display: block;
      position: relative;
      &:before {
        width: 1px;
        top: 8px;
        bottom: 8px;
        left: 0;
        background-color: #f3f3f3;
        position: absolute;
        display: block;
        content: '';
      }
      > span {
        position: absolute;
        line-height: 1;
        top: 50%;
        width: 100%;
        text-align: center;
        margin-top: -.5em;
        &.c0 {
          color: #82D524;
        }
        &.c1 {
          color: #E64340;
        }
      }
    }
  }
}

#repair-form {
  .identity-choice {
    > div {
      &:nth-child(1) {
        > div {
          background: url(../img/icon/geren.png) no-repeat 15px center;
          background-size: 40%;
        }
        &.hover {
          > div {
            background-image: url(../img/icon/geren-hover.png);
          }
        }
      }
      > div {
        line-height: 1.4;
      }
    }
  }
}

#repair-view {
  .hr {
    padding: 0 10px;
  }
  > .pj {
    margin: 0 10px;
  }
  .flow {
    ul {
      background-color: #fff;
      margin: 10px;
      border-radius: 8px;
      li {
        padding: 15px 20px 15px 60px;
        height: 110px;
        position: relative;
        &:before {
          content: '';
          background-color: #E64340;
          width: 12px;
          height: 12px;
          position: absolute;
          border-radius: 50%;
          top: 50%;
          left: 24px;
          margin-top: -12px;
        }
        & + li {
          border-top: 1px solid #f3f3f3;
          &:after {
            content: '';
            background-color: #E64340;
            height: 115px;
            width: 2px;
            position: absolute;
            bottom: 50%;
            left: 29px;
          }
        }
        &:last-child {
          &:before {
            box-sizing: content-box;
            width: 14px;
            height: 14px;
            margin-top: -13px;
            left: 23px;
          }
        }
        p {
          font-size: 12px;
          color: #ccc;
        }

      }
    }
  }
}

#repair-comment {
  .comment-box {
    margin-top: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    >label{
      padding-top:0;
      margin-bottom:10px;
    }
    .answer {
      .flex{
        margin-bottom: 10px;
      }
      .select {
        padding-left: 36px;
        font-size: 14px;
        position: relative;
        i {
          top: 50%;
          left: 10px;
          display: block;
          position: absolute;
          width: 18px;
          height: 18px;
          border: 1px solid #B2B2B2;
          background: #F8F8F8;
          border-radius: 50%;
          margin-top: -9px;
          z-index: 9;
        }
        &.checked {
          i {
            border: none;
            background: url(../img/radio_hover.png) no-repeat;
            background-size: 100% 100%;
          }
        }
      }
    }
  }
}