.Satisfaction{
  .starC{
    display: flex;
    .start-ic{
      width: 1.5em;
      height: 1.5em;
      margin: 0 auto;
    }
    .star-icon{
      border: none;
      background: url(../img/repair/star.png) no-repeat;
      background-size: 100% 100%;
    }
    .star-icon-hover{
      border: none;
      background: url(../img/repair/star_hover.png) no-repeat;
      background-size: 100% 100%;
    }
  }
  #evaluation-box, .evaluation-box{
    li{
      line-height: 3em;
      border-bottom: 1px solid #cbcbcb;
    }
    .text-area{
      width: 100%;
      margin-top: 16px;
      padding: 0.5em;
      border-radius: 8px;
      box-shadow: none;
      border: 1px solid #989898;
      font: initial;
    }
    .satisfaction-text{
      color: #ff4800;
    }
    .start-box{
      display: flex;
      .start-clo-2{
        width: 20%;
      }
      .start-clo-8{
        width: 80%;
      }
    }
  }
}