#repair-form{
  padding-bottom: 49px;
  .identity-choice {
    > div {
      > div {
        font-size: 18px;
        padding-top: 24px;
        padding-bottom: 24px;
        padding-left: 49+20px;
        height: 96px;
        line-height: 49px;
        background-image: url(../img/repair/repair_off.png);
        background-size: 44px 49px;
        background-position: 20px 24px;
      }
      &.hover {
        > div {
          background-image: url(../img/repair/repair_hover.png);
        }
        &:nth-child(1) {
          > div {
            background-image: url(../img/feedback_hover.png);
          }
        }
      }
      &:nth-child(1) {
        > div {
          background-image: url(../img/feedback.png);
        }
      }
    }
  }
}

.upload-pics {
  li {
    span {
      display: block;
      padding-top: 158%;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
}

#new-repair-list, #new-repair-view{
  .list-cell {
    background-color: #fff;
    display: block;
    padding: 15px;
    color: #000;
    max-width: 100%;
    margin-bottom: 5px;
    @include clear();
    h4 {
      font-size: 17px;
      margin-bottom: 5px;
      height: 2em;
    }
    img {
      max-width: 100%;
      display: inline-block;
    }
    .pic {
      margin: 10px 0;
    }
    .more {
      clear: both;
      font-size: 14px;
      margin-top: 15px;
      border-top: 1px solid #E5E5E5;
      line-height: 1;
      ul{
        li{
          line-height: 2em;
          span{
            padding: 0 10px;
          }
        }
      }

      .flow{
        span {
          &:nth-child(1) {
            color: #888888;
            background-color: #F5F5F5;
            border-radius: 6px;
            padding: 0 1em;
            font-size: 11px;
          }
          &:nth-child(2) {
            float: right;
            line-height: 1;
            padding-right: 1em;
            background: url(../img/icon/arrow-right.png) right center no-repeat;
            background-size: auto 100%;
          }
        }
      }
      #scene-info{
        line-height: 3em;
        font-size: 18px;
      }
    }
  }
}

#new-repair-list{
  .repair-lists{
    .list-cell{
      .new-info{
        ul > li{
          h4 {
            .flow_style_w2, .flow_style_w1, .flow_style_8, .flow_style_j, .flow_style_k{
              border-radius: 17px;
              padding: 0.2em 1em;
              letter-spacing: 0.2em;
              font-size: 14px;
            }
            .flow_style_w2{
              color: #f7b600;
              border: 1px solid #f7b600;
            }
            .flow_style_w1{
              color: #82D524;
              border: 1px solid #82D524;
            }
            .flow_style_8{
              color: #9C27B0;
              border: 1px solid #9C27B0;
            }
            .flow_style_j{

            }
            .flow_style_k{

            }
            #st-Left{
              float: right;
              font-weight: normal;
              letter-spacing: 1px;
            }
          }
        }
      }
    }
  }
}

#new-repair-view{
  &.panel {
    margin: 0 0 6em 0;
    .status {
      padding: 10px 15px;
      color: #fff;
      background-color: #F8B708;
      font-size: 14px;
      &.complete {
        background-color: #82D524;
      }
    }
    .pic {

    }
  }

  .message-list {
    background-color: #fff;
    font-size: 14px;
    p.empty {
      padding: 20px;
      text-align: center;
    }
  }
}

.bottom-message-form {
  .form-group {
    display: flex;
    padding: 10px;
    > div {
      flex: auto;
      &:nth-child(2) {
        padding-left: 15px;
        text-align: center;
        .btn {
          font-size: 14px;
          width: 90px;
          border-radius: 1.13em;
        }
      }
      textarea {
        height: 2.26em;
        width: 100%;
      }
    }
  }
}

#new-repair-list {
  margin-bottom: 8em;
  .tab-list {
    text-align: center;
    padding: .5em 0;
    background-color: #EFEFEF;
    margin: 0 -10px;
    a {
      color: #888888;
      &.hover {
        border-bottom: 1px solid $mainColor;
        color: $mainColor;
      }
    }
  }
  .topPath {
    display: block;
    @include clear();
    padding: 5px 0;
    .addNew {
      font-size: 13px;
      color: #fff;
      padding: 6px 16px 6px 45px;
      border-radius: 18px;
      float: right;
      margin-right: 10px;
    }
    .complain{
      background: url(../img/repair/complain.png) 15px center no-repeat #4990e1;
      background-size: 24px;
    }
    .maintain{
      background: url(../img/repair/maintain.png) 15px center no-repeat $mainColor;
      background-size: 14px;
    }
  }
  .repair-lists{
    margin-top: 10px;
    margin-bottom: 10px;
    .list-cell {
      display: flex;
      margin-bottom: 0;
      .new-info {
        flex: 1;
        ul {
          font-size: 12px;
          li {
            padding-top: 0.3em;
            padding-bottom: 0.3em;
            span {
              color: #CCCCCC;
            }
          }
          .time-bottom{
            display: flex;
            .time-bottom-left, .time-bottom-right{
              width: 50%;
            }
            .time-bottom-right{
              text-align: right;
            }
          }
        }
      }
    }
    .repair-bottom{
      background-color: #fff;
      .bottom-ul {
        .bottom-ul-li{
          border-top: 1px solid #f3f3f3;
          padding: 0.5em;
          ul{
            display: flex;
            .bottom-ul-li0,.bottom-ul-li1{
              width: 50%;
            }
            .bottom-ul-li1{
              text-align: right;
              .bottom-right{
                padding: 0.5em 2em;
                color: #fff;
                background-color: #e5433f;
                border-radius: 20px;
                letter-spacing: 3px;
              }
            }
            .hidden-chart{
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
          }
        }
      }
      p{
        border-top: 1px solid #f3f3f3;
        padding: 1em;
      }
    }
  }
  #typeSelect {
    display: none;
    .mask {
      background-color: rgba(#000, .8);
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    .c-panel {
      position: fixed;
      left: 8%;
      right: 8%;
      top: 8%;
      //height: 26%;
      padding-left: 10px;
      padding-right: 10px;
      background-color: #fff;
      border-radius: 12px;
      .t {
        padding: 2em;
        @include clear();
        p {
          text-align: center;
        }
      }
      .button-line{
        display: flex;
        margin-bottom: 6px;
        .btn-off, .btn-active{
          padding: 0.5em;
          border-radius: 5px;
        }
        .btn-off{
          border: 1px solid #989898;
          background-color: transparent;
        }
        .btn-active{
          border: 1px solid #f7b708;
          background-color: #f7b708;
          color: #ffffff;
        }
        .placeholder{
          padding: 6px;
          background-color: transparent;
        }
      }
    }
    .btn-empty {
      background-color: #FFF;
      width: 100%;
      margin-top: 1em;
    }
  }
}

#repair-form {
  .identity-choice {
    > div {
      &:nth-child(1) {
        > div {
          background: url(../img/icon/geren.png) no-repeat 15px center;
          background-size: 40%;
        }
        &.hover {
          > div {
            background-image: url(../img/icon/geren-hover.png);
          }
        }
      }
      > div {
        line-height: 1.4;
      }
    }
  }
}

#new-repair-view {
  .hr {
    padding: 0 10px;
  }
  > .pj {
    margin: 0 10px;
  }
  .flow {
    ul {
      background-color: #fff;
      margin: 10px;
      border-radius: 8px;
      li {
        padding: 15px 20px 15px 60px;
        //height: 110px;
        position: relative;
        h4{
          color: #454545;
          letter-spacing: 0.1em;
        }
        &:before {
          content: '';
          background-color: #E64340;
          width: 12px;
          height: 12px;
          position: absolute;
          border-radius: 50%;
          top: 50%;
          left: 24px;
          margin-top: -12px;
        }
        & + li {
          border-top: 1px solid #f3f3f3;
          &:after {
            content: '';
            background-color: #E64340;
            height: 80px;
            width: 2px;
            position: absolute;
            bottom: 50%;
            left: 29px;
          }
        }
        &:last-child {
          &:before {
            box-sizing: content-box;
            width: 14px;
            height: 14px;
            margin-top: -13px;
            left: 23px;
          }
        }
        p {
          font-size: 12px;
          color: #ccc;
        }

      }
    }
  }
  .repair-cancel{
    h4{
      line-height: 3em;
      text-align: center;
      letter-spacing: 0.2em;
      color: #B0473C;
    }
    .repair-cancel-mo, .repair-evaluation-mo{
      p{
        line-height: 4em;
        letter-spacing: 2px;
        color: #ABABAB;
        font-size: 17px;
      }
      #evaluation-list{
        #Satisfaction{
          .d-right{
            > ul > li{
              display: unset;
              width: 20%;
              float: left;
              .star-icon{
                border: none;
                background: url(../img/repair/star.png) no-repeat;
                background-size: 100% 100%;
              }
              .star-icon-hover{
                border: none;
                background: url(../img/repair/star_hover.png) no-repeat;
                background-size: 100% 100%;
              }
            }
          }
        }
        li{
          line-height: 3em;
          display: flex;
          .d-left{
            width: 30%;
          }
          .d-right{
            width: 70%;
            textarea{
              width: 100%;
              margin-top: 16px;
              padding: 0.5em;
              border-radius: 8px;
              box-shadow: none;
              border: 1px solid #989898;
              font: initial;
            }
          }
          .timely{
            >ul{
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              li{
                display: unset;
                float: left;
                width: 33.2%;
                .radio-hover{
                  border: none;
                  background: url(../img/repair/radio_hover.png) no-repeat;
                  background-size: 100% 100%;
                }
              }
            }
          }
        }
      }
      #comment-list{
        .checked{
          border: none;
          background: url(../img/repair/radio_hover.png) no-repeat;
          background-size: 100% 100%;
        }
      }
      .icon{
        border: none;
        background: url(../img/repair/radio.png) no-repeat;
        background-size: 100% 100%;
      }
      .text-area{
        margin-top: 18px;
        margin-bottom: 18px;
        textarea{
          width: 100%;
          padding: 0.5em;
          border-radius: 8px;
          box-shadow: none;
          border: 1px solid #989898;
        }
      }
    }
  }
  .repair-cancel-footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    display: flex;
    #back{
      background-color: white;
      letter-spacing: 0.3em;
    }
    #step{
      background-color: #F7B500;
      color: #fff;
    }
  }
  .new-info {
      h4{
        .flow_style_w2, .flow_style_w1, .flow_style_8, .flow_style_j, .flow_style_k{
          border: 1px solid;
          border-radius: 10px;
          padding-left: 1em;
          padding-right: 1em;
          letter-spacing: 3px;
          line-height: 2em;
        }
        .flow_style_w2{
          color: #f7b600;
          border: 1px solid #f7b600;
        }
        .flow_style_w1{
          color: #82D524;
          border: 1px solid #82D524;
        }
        .flow_style_8{
          color: #9C27B0;
          border: 1px solid #9C27B0;
        }
        .flow_style_j{

        }
        .flow_style_k{

        }
        .re-view-cancel, .re-view-done{
          padding-left: 2em;
          padding-right: 2em;
          border-radius: 17px;
          font-size: 17px;
          float: right;
          line-height: 2em;
          font-weight: normal;
          color: white;
          background-color: #e5433f;
        }
      }
      p {
        font-size: 13px;
        color: #999999;
      }
    }
  .list-cell{
    .new-more{
      color: #989898;
    }
  }
  .new-live-line{
    margin-top: 20px;
    margin-bottom: 13px;
  }
  .new-live, .evaluation{
    background-color: #fff;
    display: block;
    padding: 15px;
    color: #000;
    max-width: 100%;
    margin-bottom: 5px;
  }
  .new-live{
    ul > li{
      //line-height: 0.5em;
      label{
        float: left;
      }
      img{
        max-width: 100%;
        display: inline-block;
      }
    }
    .tac{
      .text-pi{
        text-align: left;
        color: #989898;
      }
      .word-text{
        word-wrap: break-word;
        text-align: left;
        color: #989898;
      }
    }
  }
  .evaluation{
    ul > li{
      line-height: 3em;
      .d-left{
        width: 30%;
      }
      .d-right{
        width: 70%;
        ul > li{
          float: left;
        }
      }
    }
    #new-evaluation{
      li{
        display: flex;
      }
      .new-idea{
        .word-text{
          padding-top: 14px;
          word-wrap: break-word;
          line-height: initial;
        }
      }
    }
    #satisfaction-list{
      > li{
        display: unset;
        width: 20%;
        span{
          border: none;
          background: url(../img/repair/star_hover.png) no-repeat;
          background-size: 100% 100%;
          padding: 0 12px;
        }
      }
    }
    #new-timely-list{
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      li{
        display: unset;
        float: left;
        width: 30%;
      }
      .new-timely-icon, .new-timely-hover{
        border: none;
        padding: 0 10px;
      }
      .new-timely-icon{
        background: url(../img/repair/radio.png) no-repeat;
        background-size: 70% 70%;
      }
      .new-timely-hover{
        background: url(../img/repair/radio_hover.png) no-repeat;
        background-size: 70% 70%;
      }
      .t{
        padding-left: 3px;
      }
    }
  }
}

#repair-comment {
  .comment-box {
    margin-top: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    >label{
      padding-top:0;
      margin-bottom:10px;
    }
    .answer {
      .flex{
        margin-bottom: 10px;
      }
      .select {
        padding-left: 36px;
        font-size: 14px;
        position: relative;
        i {
          top: 50%;
          left: 10px;
          display: block;
          position: absolute;
          width: 18px;
          height: 18px;
          border: 1px solid #B2B2B2;
          background: #F8F8F8;
          border-radius: 50%;
          margin-top: -9px;
          z-index: 9;
        }
        &.checked {
          i {
            border: none;
            background: url(../img/radio_hover.png) no-repeat;
            background-size: 100% 100%;
          }
        }
      }
    }
  }
}

#bottom-nav{
  position: fixed;
  width: 100%;
  bottom: 0;
  border-top: 1px solid #f3f3f3;
  background-color: #fff;
  font-size: 17px;
  border-radius: 0;
  display: -webkit-box;
  display: flex;
  a{
    text-align: center;
    flex: 1;
    padding: 5px 2%;
    color: #454545;
    font-size: 14px;
    i {
      display: block;
      background: no-repeat center;
      width: 40px;
      margin: 0 auto;
      height: 40px;
      &.home {
        background-image: url(../img/repair/home.png);
        background-size: 60% 60%;
      }
      &.area-even {
        background-image: url(../img/repair/news.png);
        background-size: 60% 60%;
      }
      &.repair-blue {
        background-image: url(../img/repair/repair.png);
        background-size: 60% 60%;
      }
      &.owners {
        background-image: url(../img/repair/my.png);
        background-size: 60% 60%;
      }
    }
  }
}

#upload-pics{
  .uploaded-img{
    > .del-icon{
      padding: 10px 20px;
      background: url("../img/icon/error.png") center no-repeat;
      background-size: 46%;
    }
  }
}